# Titanic Disaster

In this reboot, we will explore the famous [Titanic](https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Titanic_dataset.csv) dataset listing all passengers with various properties.

‚ùì Start loading `matplotlib`, `numpy` and `pandas` the usual way

In [1]:
import numpy as np
import pandas as pd
import matplotlib

‚ùì Load the CSV data as a into a `titanic_df` variable.

the csv file is available at this url: https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Titanic_dataset.csv

<details>
    <summary>üí° <strong>Hint</strong> - Click to reveal</summary>
    Try using <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html"><code>pandas.DataFrame.read_csv</code></a>
</details>

In [2]:
file = "/Users/gulecs/Downloads/ML_Titanic_dataset.csv"
df = pd.read_csv(file, decimal=",")

‚ùì Explore the dataset with the usual methods (`shape`, `dtypes`, `describe()`, `info()`, `isnull().sum()`).

Do not hesitate to add cells by pressing `B`.

In [5]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,NaN,Q

It seems that the `Cabin` information is missing in 687 rows. Pretty normal considering people in 3rd class (`Pclass`) did not have one!

‚ùì Use the [`pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) function to get rid of the `Cabin` in `titanic_df`

In [ ]:
# YOUR CODE HERE

## Classes Analysis

Let's have a look at the ticket divide.

‚ùì Using a `groupby()`, create a `pclass_df` dataframe counting the number of tickets sold per class (1, 2 or 3)

In [ ]:
# YOUR CODE HERE

Looking at the number is not very visual, let's try to make sense of the data with a plot.

‚ùì Plot the `pclass_df` dataframe built in the previous question as a barchart

In [ ]:
# YOUR CODE HERE

Let's now have a look at **survivors**.

‚ùì Plot a barchart of *frequency of survivals* per class. `0` means no one survived in the class, `1` means everyone survived.

In [ ]:
# YOUR CODE HERE

### Gender Analysis

Let's have a look at the `Sex` column.

‚ùì Use the [`pandas.Series.unique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html) function to check the different values used in that column

In [ ]:
# YOUR CODE HERE

‚ùì Plot a barchart of survival frequency of each gender. Who survived the most?

In [ ]:
# YOUR CODE HERE

Let's build a fancier histogram where we show the total number of passengers + the total number of survivors (for each gender).

‚ùì Build a `survivors_df` DataFrame with two columns: `Total` and `Survived`, and two rows (`male` and `female`). Plot it.

In [ ]:
# YOUR CODE HERE

## Children

The former analysis did not take into account ages. We want to differentiate between a child and an adult and see how survival rates are affected.

‚ùì Use boolean indexing to create a `children_df` containing only rows of child passengers

In [ ]:
# YOUR CODE HERE

‚ùì How many children were there in the Titanic?

In [ ]:
# YOUR CODE HERE

‚ùì How many children survived?

In [ ]:
# YOUR CODE HERE

‚ùì Plot a barchart of survivors / total for each category: `male`, `female`, `children`. Bear in mind that you need to **substract** the boys from the `male` statistics, and the girls from the `female` statistics.

In [ ]:
# YOUR CODE HERE

## Big families

‚ùì Find out if it was harder for bigger families to survive?
  
Here you create a new column in your `DataFrame` for the family size of the passenger.

In [ ]:
# YOUR CODE HERE

## Distinguished titles

‚ùì Were passengers with distinguished titles preferred during the evacuation?
   
With some string manipulation, create a new column for each user with their title

In [ ]:
# YOUR CODE HERE