# Bubble Map Visualization

## Setup

- **The Dataset**: let's analyze - from a graphical point of view - this [Kaggle Dataset](https://www.kaggle.com/datafiniti/fast-food-restaurants) about fast food restaurants.

- **A new library**: during this exercise, we will learn how to manipulate `Plotly`, a very powerful graphics library! Let's install it:  https://pypi.org/project/plotly-express/

Once it's done, let's import the libraries we need: `numpy`, `pandas`, and `plotly`

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

## Bubble Map 101

The goal of this exercise is to plot a bubble map of the `FastFoodRestaurants.csv`. 
Your challenge is to manage to get:

<br>
<img src="https://wagon-public-datasets.s3.amazonaws.com/data-science-images/02-Data-Toolkit/03-Data-Visualization/020307-fastfood-restaurants-us.png" height="100%" width="100%">
Beautiful, isn't it? üôÇ

### Specs:

- A bubble should represent a `city`,
- A bubble's size should depend on the number of fastfood restaurants in the city,
- The graph should be zoomed on the U.S. map,
- When hovering on a bubble you should get the name of `city`,
- The graph should have a relevant title

*Here is the documentation of bubble maps üëâ https://plot.ly/python/bubble-maps/ enjoy!*

‚ùó The dataset has the latitude & longitude of each restaurant, but we need the latitude & longitude of each city to plot our bubble map. To cope with this missing data, let's compute the latitude & longitude of each city on our own: assuming that the latitude & longitude of a city can be computed by taking the median of the latitude & longitude of all fastfood restaurants recorded in the city. 


------------------------------------------------------

‚ùì Import the `FastFoodRestaurants.csv` dataset

In [2]:
file = 'https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/FastFoodRestaurants.csv'

In [6]:
df = pd.read_csv("/Users/gulecs/Downloads/archive (2)/FastFoodRestaurants.csv")

‚ùì Explore the DataFrame - check the shape, missing values, data types, etc. (‚ùó make sure `latitude` and `longitude` columns are floats)

In [11]:
df["longitude"]

0       -74.890210
1       -83.445260
2       -83.791410
3       -74.845530
4       -82.097280
           ...
9995    -82.024531
9996    -88.255800
9997   -105.101720
9998   -116.482150
9999   -117.789762
Name: longitude, Length: 10000, dtype: float64

‚ùì Group the data by city and create an aggregated DataFrame with:
    * `count` of restaurants per city
    * `median` of latitude and longitude

In [20]:
df.groupby(by="city").count()
df.groupby(by="city").median()

/var/folders/95/y_36phrx0_128ngk52cfj39h0000gn/T/ipykernel_92344/4164987931.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(by="city").median()

             latitude  longitude
city
Abbeville   29.980450 -92.118881
Aberdeen    45.459458 -98.474165
Abilene     32.474910 -99.730590
Abingdon    36.701430 -81.975120
Acton       42.468486 -71.456183
...               ...        ...
Zachary     30.647280 -91.148850
Zanesville  39.969255 -82.016005
Zebulon     34.465989 -81.328820
Zion        42.455040 -87.824880
Zionsville  39.926328 -86.279043

[2775 rows x 2 columns]

‚ùì Plot the data as a bubble map with `Plotly` üó∫Ô∏è

## Bubble Map with animation

How about plotting the evolution of fastfood restaurants in the US?

The dataset `Datafiniti_Fast_Food_Restaurants.csv` has a `dateAdded` column. Let's assume this Dataset is from UberEats database, and we want to see the evolution of fastfood restaurants available on UberEats app!
We want to have this: 
<br>
<img src="https://wagon-public-datasets.s3.amazonaws.com/data-science-images/02-Data-Toolkit/03-Data-Visualization/020307-animated-bubble-map.png" height="100%" width="100%">

üëâ The slider should give the real time evolution üôÇ - each bubble referring to a new restaurant opened that year.

Let's plot this! üí™

‚ùì Load the `Datafiniti_Fast_Food_Restaurants.csv` dataset

In [ ]:
file = "https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/Datafiniti_Fast_Food_Restaurants.csv"

In [ ]:
# YOUR CODE HERE

‚ùì Format the `dateAdded` column to just include the year as an integer

In [ ]:
# YOUR CODE HERE

‚ùì Plot the animated bubble map üçø Check `Plotly` [documentation](https://plot.ly/python/bubble-maps/) for help

Here are some specs for the animated map:

* The years on the timeline need to be in order
* Each bubble should display the `name` of the restaurant on hover
* The map should be zoomed in on the U.S.
* The graph should have a relevant title

In [ ]:
# YOUR CODE HERE

# üèÅ Congrats on completing the challenge!

Remember to `git add`, `git commit` and `git push` your code üí™