# CSV + API

In this reboot, we are going to use:

- The [Goodreads books](https://www.kaggle.com/jealousleopard/goodreadsbooks) dataset from Kaggle.
- The [Open Library Books API](https://openlibrary.org/dev/docs/api/books)

The goal of this livecode is to load the data from a CSV + loop over rows to enrich each row with information such as:

- List of subjects (Science, Humor, Travel, etc.)
- The cover URL of the book
- Other information you'd find useful in the JSON API

First, download the CSV in the local folder:

In [1]:
!curl -L https://gist.githubusercontent.com/ssaunier/351b17f5a7a009808b60aeacd1f4a036/raw/books.csv > books.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1509k  100 1509k    0     0  3821k      0 --:--:-- --:--:-- --:--:-- 3869k

In [2]:
!ls -lh

total 4264
-rw-r--r--  1 gulecs  staff   579B Oct  7 02:59 README.md
-rw-r--r--  1 gulecs  staff    15K Oct 25 16:14 Recap.ipynb
-rw-r--r--  1 gulecs  staff   1.5M Oct 25 17:06 books.csv

Then import the usual suspects!

In [3]:
import requests
import pandas as pd
import numpy as np

## Load books from CSV

In [12]:
books_df = pd.read_csv("/Users/gulecs/code/gulecsec/data-virtual_library/books.csv", nrows=100, usecols = ["title", "authors", "isbn13"])

Let's add a new column

In [15]:
books_df["cover_url"] = books_df["New_Column"]
books_df.head(3)

,title,authors,isbn13,New_Column,cover_url
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,9780439785969,,
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,9780439358071,,
2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,9780439554930,,

In [6]:
books_df["isbn"]

0        0439785960
1        0439358078
2        0439554934
3        0439554896
4        043965548X
            ...
13714    0061186422
13715    0930289552
13716    0061238961
13717    0743201116
13718    1862056242
Name: isbn, Length: 13719, dtype: object

In [30]:
def fetch_book(isbn): 
    key = f'ISBN:{isbn}'
    response = requests.get('https://openlibrary.org/api/books',params={'bibkeys': key, 'format':'json', 'jscmd':'data'},).json()
    return response[key]

## API - Open Library

In [ ]:
for index, row in books_df_head().iterrows()

## Calling the API with multiple ISBNs at a time

In [9]:
# YOUR CODE HERE