In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

In [4]:
from olist.data import Olist
from olist.seller import Seller
from olist.order import Order

In [12]:
df_orders = Order().get_training_data(with_distance_seller_customer=True)
df_sellers = Seller().get_training_data()
df_order_reviews = Order().get_review_score()

In [6]:
data = Olist().get_data()
data.keys()

dict_keys(['sellers', 'product_category_name_translation', 'orders', 'order_items', 'customers', 'geolocation', 'order_payments', 'order_reviews', 'products'])

In [9]:
df_order_sellers = data["order_items"][["order_id","seller_id"]]
df_order_sellers.head()

                           order_id                         seller_id
0  00010242fe8c5a6d1ba2dd792cb16214  48436dade18ac8b2bce089ec2a041202
1  00018f77f2f0320c557190d7a144bdd3  dd7ddc04e1b6c2c614352b383efe2d36
2  000229ec398224ef6ca0657da4fc703e  5b51032eddd242adc84c38acab88f23d
3  00024acbcdf0a6daa1e931b038114c75  9d7a1d34a5052409006425275ba1c2b4
4  00042b26cf59d7ce69dfabb4e55b4fd9  df560393f3a51e74553ab94004ba5c87

In [15]:
df_review_merged = df_order_reviews.merge(df_order_sellers, on = "order_id", how="left")
df_review_merged.head()

,order_id,dim_is_five_star,dim_is_one_star,review_score,seller_id
0,73fc7af87114b39712e6da79b0a377eb,0,0,4,6d803cb79cc31c41c4c789a75933b3c7
1,73fc7af87114b39712e6da79b0a377eb,0,0,4,6d803cb79cc31c41c4c789a75933b3c7
2,a548910a1c6147796b98fdf73dbeba33,1,0,5,8e6d7754bc7e0f22c96d255ebda59eba
3,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5,a1043bafd471dff536d0c462352beb48
4,658677c97b385a9be170737859d3511b,1,0,5,a1043bafd471dff536d0c462352beb48

In [21]:
df_review_merged["review_cost"] = df_review_merged["review_score"].map({1: 100, 2: 50, 3: 40, 4: 0, 5: 0})

In [24]:
df_review_grouped = df_review_merged.groupby('seller_id').sum()[['review_cost']]
df_review_grouped

                                  review_cost
seller_id
0015a82c2db000af6aaaf3ae2ecb0532          100
001cca7ae9ae17fb1caed9dfb1094831         4750
001e6ad469a905060d959994f1b41e4f          100
002100f778ceb8431b7a1020ff7ab48f         1110
003554e2dce176b5555353e4f3555ac8            0
...                                       ...
ffcfefa19b08742c5d315f2791395ee5          100
ffdd9f82b9a447f6f8d4b91554cc7dd3          240
ffeee66ac5d5a62fe688b9d26f83f534          200
fffd5413c0700ac820c7069d66d98c89         1360
ffff564a4f9085cd26170f4732393726         1420

[3090 rows x 1 columns]